@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;600&display=swap");
:root {
  --bg-color: #faf9f5;
  --primary-color: #211f1e;
  --black-color: #000000;
  --wight-color: #ffffff;
  --accent-color: #ffc197;
  --form-text-color: #bdbdbd;
  --form-invalid-color: #d28b8b;
  --transparent-color: transparent;
  /*steps colors*/
  --intellectualGray-color: #a8a093;
  --delft-color-color: #8b9fa0;
  --evergreenFog-color: #95978a;
  --spicedCider-color: #b0785c;
  --tempeStar-color: #5d7880;
  --shodjiWight-color: #e6dfd3;
  --worldlyGray-color: #cec6bb;
  --anjouPear-color: #ddac6d;

  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --cardText-fontSize: 14px;
  --faqText-fontSize: 16px;
  --textLg-fontSize: 18px;
  --logoLg-fontSize: 24px;
  --titleLg-fontSize: 36px;

  --regular-fontWeight: 400;
  --semibold-fontWeight: 600;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Shantell Sans", "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

body.modal-open {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
